{% extends 'base.html'%}

{% block content %}
<div class="container">
    <br><br><br>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="formFile" class="form-label">Carga tu archivo xml de solicitudes</label>
            <input class="form-control" type="file" id="formFile" name="document">
          </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

</div>
{% endblock %}